<div class="container mt-5">

    <div class="row">
        <div class="col-12 text-center">
            <h1 class="blanco">Error 404</h1>
            <p class="blanco">Página no encontrada</p>
        </div>
    </div>

    <div class="row">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <button type="button" title="Ir al inicio" class="btn btn-block btnVerdeClaro" (click)="Inicio_click()"
                tabindex="1">Ir al inicio</button>
        </div>
    </div>

</div>