<div class="row">
    <div class="col-12">

        <div class="list-group">

            <button type="button" class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-6">
                        <span><fa-icon [icon]="this.fontAwesome.faGlassCheers"></fa-icon></span>
                        <span>Bebidas</span>
                        
                    </div>
                    <div class="col-6 text-right">
                        <span>145.000</span>
                    </div>
                   
                </div>
                <div class="row">
                    <small>02/02/2020</small>
                    <div class="col-1 text-right">
                        <span><fa-icon [icon]="this.fontAwesome.faChevronRight"></fa-icon></span>
                    </div>
                </div>
            </button>

            <button type="button" class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-6">
                        <span><fa-icon [icon]="this.fontAwesome.faMedkit"></fa-icon></span>
                        Salud
                    </div>
                    <div class="col-6 text-right">
                        <span><fa-icon [icon]="this.fontAwesome.faChevronRight"></fa-icon></span>
                    </div>
                </div>
            </button>

            <button type="button" class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-6">
                        <span><fa-icon [icon]="this.fontAwesome.faUtensilSpoon"></fa-icon></span>
                        Comidas
                    </div>
                    <div class="col-6 text-right">
                        <span><fa-icon [icon]="this.fontAwesome.faChevronRight"></fa-icon></span>
                    </div>
                </div>
            </button>

            <!-- ORGINAL -->
            <!-- <button type="button" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
                Categoria #3
                <span><fa-icon [icon]="this.fontAwesome.faChevronRight"></fa-icon></span>
            </button> -->
        </div>

    </div>
</div>