<div class="row text-center blanco">
    <div class="col-12">
        <h1 title="Mes">{{ lblMes }}</h1>
    </div>
</div>

<div class="row pb-4 text-center">
    <div class="col-12">

        <div class="btn-group btn-group-lg" role="group" aria-label="">

            <button type="button" class="btn btn-secondary" title="Ir al mes anterior" (click)="MesAnterior_click()">
                <span>
                    <fa-icon [icon]="this.fontAwesome.faChevronLeft"></fa-icon>
                </span>
            </button>

            <button type="button" class="btn btn-secondary" title="Ir al mes actual" (click)="MesActual_click()">Mes
                actual</button>

            <button type="button" class="btn btn-secondary" (click)="MesSiguiente_click()">
                <span>
                    <fa-icon [icon]="this.fontAwesome.faChevronRight" title="Ir al sigueinte mes"></fa-icon>
                </span>
            </button>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-12">

        <!-- ITEMS -->
        <div class="list-group">

            <button type="button" class="pl-2 list-group-item list-group-item-action"
                (click)="ModificarItem_click(content)">

                <div class="d-flex flex-row align-items-center">

                    <div class="align-self-center anchoFaIcon">
                        <span>
                            <fa-icon class="fa-lg" [icon]="this.fontAwesome.faGlassCheers"></fa-icon>
                        </span>
                    </div>

                    <div class="mr-auto p-1 align-self-center">

                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row align-items-center">
                                <span>Salidas</span>
                            </div>
                            <small>Fecha: 02/05/2010</small>
                        </div>

                    </div>

                    <div class="pr-2 align-self-center">
                        <span>₡348.080</span>
                    </div>

                    <div class="align-self-center">
                        <span>
                            <fa-icon [icon]="this.fontAwesome.faChevronRight"></fa-icon>
                        </span>
                    </div>
                </div>
            </button>

            <button type="button" class="pl-2 list-group-item list-group-item-action">

                <div class="d-flex flex-row align-items-center">

                    <div class="align-self-center anchoFaIcon">
                        <span>
                            <fa-icon class="fa-lg" [icon]="this.fontAwesome.faMedkit"></fa-icon>
                        </span>
                    </div>

                    <div class="mr-auto p-1 align-self-center">

                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row align-items-center">
                                <span>Salud</span>
                            </div>
                            <small>Fecha: 02/05/2010</small>
                        </div>

                    </div>

                    <div class="pr-2 align-self-center">
                        <span>₡135.100</span>
                    </div>

                    <div class="align-self-center">
                        <span>
                            <fa-icon [icon]="this.fontAwesome.faChevronRight"></fa-icon>
                        </span>
                    </div>
                </div>
            </button>

            <button type="button" class="pl-2 list-group-item list-group-item-action">

                <div class="d-flex flex-row align-items-center">

                    <div class="align-self-center anchoFaIcon">
                        <span>
                            <fa-icon class="fa-lg" [icon]="this.fontAwesome.faUtensilSpoon"></fa-icon>
                        </span>
                    </div>

                    <div class="mr-auto p-1 align-self-center">

                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row align-items-center">
                                <span>Comidas</span>
                            </div>
                            <small>Fecha: 02/05/2010</small>
                        </div>

                    </div>

                    <div class="pr-2 align-self-center">
                        <span>₡65.000</span>
                    </div>

                    <div class="align-self-center">
                        <span>
                            <fa-icon [icon]="this.fontAwesome.faChevronRight"></fa-icon>
                        </span>
                    </div>
                </div>
            </button>
            <!-- FIN: ITEMS -->

        </div>

    </div>
</div>

<!-- MODAL PARA MODIFICAR ITEM -->
<ng-template #content let-modal>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Modificar transacción</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form>
            <div class="form-group">

                <label for="dtpFecha">Fecha</label>
                <div class="input-group">
                    <input id="dtpFecha" class="form-control" placeholder="dd/MM/yyyy" name="dp" ngbDatepicker
                        #dp="ngbDatepicker" (click)="dp.toggle()" readonly>
                </div>

            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btnRojo">Eliminar</button>
        <button type="button" class="btn btnVerdeClaro" ngbAutofocus
            (click)="modal.close('Save click')">Aceptar</button>
    </div>
</ng-template>



<pre>{{ closeResult }}</pre>