<div class="row">
    <div class="col-12">

        <div class="list-group">

            <!-- ITEMS -->
            <button type="button" class="list-group-item list-group-item-action">

                <div class="d-flex flex-row align-items-center">

                    <div class="p-1 align-self-center anchoFaIcon">
                        <span>
                            <fa-icon class="fa-2x" [icon]="this.fontAwesome.faGlassCheers"></fa-icon>
                        </span>
                    </div>

                    <div class="mr-auto p-2 align-self-center">

                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row align-items-center">
                                <span>Salidas</span>
                            </div>
                            <small>Fecha: 02/05/2010</small>
                        </div>

                    </div>

                    <div class="p-2 align-self-center">
                        <span>₡348.080</span>
                    </div>

                    <div class="p-2 align-self-center">
                        <span>
                            <fa-icon [icon]="this.fontAwesome.faChevronRight"></fa-icon>
                        </span>
                    </div>
                </div>
            </button>

            <button type="button" class="list-group-item list-group-item-action">

                <div class="d-flex flex-row align-items-center">

                    <div class="p-1 align-self-center anchoFaIcon">
                        <span class="w-100">
                            <fa-icon class="fa-2x" [icon]="this.fontAwesome.faMedkit"></fa-icon>
                        </span>
                    </div>

                    <div class="mr-auto p-2 align-self-center">

                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row align-items-center">
                                <span>Salud</span>
                            </div>
                            <small>Fecha: 02/05/2010</small>
                        </div>

                    </div>

                    <div class="p-2 align-self-center">
                        <span>₡135.100</span>
                    </div>

                    <div class="p-2 align-self-center">
                        <span>
                            <fa-icon [icon]="this.fontAwesome.faChevronRight"></fa-icon>
                        </span>
                    </div>
                </div>
            </button>

            <button type="button" class="list-group-item list-group-item-action">

                <div class="d-flex flex-row align-items-center">

                    <div class="p-1 align-self-center anchoFaIcon">
                        <span class="w-100">
                            <fa-icon class="fa-2x" [icon]="this.fontAwesome.faUtensilSpoon"></fa-icon>
                        </span>
                    </div>

                    <div class="mr-auto p-2 align-self-center">

                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row align-items-center">
                                <span>Comidas</span>
                            </div>
                            <small>Fecha: 02/05/2010</small>
                        </div>

                    </div>

                    <div class="p-2 align-self-center">
                        <span>₡65.000</span>
                    </div>

                    <div class="p-2 align-self-center">
                        <span>
                            <fa-icon [icon]="this.fontAwesome.faChevronRight"></fa-icon>
                        </span>
                    </div>
                </div>
            </button>
            <!-- FIN: ITEMS -->

        </div>

    </div>
</div>