<div class="row pb-4 text-center">

    <div class="col-6 offset-md-1 col-md-4">
        <button type="button" class="btn btn-block btn-secondary btnAgregar" title="Agregar ingreso"
            (click)="AgregarItem_click(content)">+ Ingreso</button>
    </div>

    <div class="col-6 offset-md-1 col-md-4">
        <button type="button" class="btn btn-block btn-secondary btnAgregar" title="Agregar gasto">- Gasto</button>
    </div>

</div>

<!-- MODAL PARA AGREGAR ITEM -->
<ng-template #content let-modal>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Nueva transacción</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form>

            <div class="form-group">

                <label for="dtpFecha" class="col-form-label">Fecha:</label>
                <div class="input-group">
                    <input id="dtpFecha" class="form-control" placeholder="dd/MM/yyyy" name="dp" ngbDatepicker
                        #dp="ngbDatepicker" (click)="dp.toggle()" readonly>
                </div>

            </div>

            <div class="form-group">

                <label for="txtMonto" class="col-form-label">Monto:</label>
                <div class="input-group">
                    <input type="text" id="txtMonto" class="form-control" placeholder="Monto">
                </div>

            </div>

            <div class="form-group">

                <label for="txtCategoria" class="col-form-label">Categoria:</label>
                <div class="input-group">
                    <div class="dropdown mr-1">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Seleccionar
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>

                    <input type="text" id="txtCategoria" class="form-control" placeholder="Categoría" disabled readonly>
                </div>

            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btnGris" (click)="modal.dismiss()">Cancelar</button>
        <button type="submit" class="btn btnVerdeClaro" ngbAutofocus
            (click)="modal.close('Save click')">Aceptar</button>
    </div>
</ng-template>