/* Forma redonda y pequenas, a las imagenes del Navbar */
.imgLogoNav{
    width: 35px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

/* Transparencia en color negro al Navbar */
.navbar{
    /* opacity: 0.9; */
    background-color: rgba(0, 0, 0, 0.6) !important;
}

/* Se utiliza el pointer del mouse como una mano, para indicar que es enlace */
.cursorPointer{
    cursor: pointer;
}

/*Cambiar el color del dropdown, para hacerlo igual al navbar (negro) */
.navbar-nav .show .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.6);
  }

/*Cambiar el color del texto de cada item en el dropdown*/
#navbarItemPrecios > .dropdown-menu > a{
    color: #FFFFFF;
}

#navbarItemCatalogoGraduacion > .dropdown-menu > a{
    color: #FFFFFF;
}

/*Cambiar el color al fondo del hover, para no hacerlo tan claro*/
#navbarItemPrecios > .dropdown-menu > a:hover{
    background-color: rgba(255, 255, 255, 0.5) !important;
}

#navbarItemCatalogoGraduacion > .dropdown-menu > a:hover{
    background-color: rgba(255, 255, 255, 0.5) !important;
}

/* Para: Bajar el contenido de la pagina, en caso de que esté activo el navbar y asi no mostrar
   en un inicio, contenido oculto debajo del nabvar.
   Equivalente de valores en boostrap:
    pb5 = 3rem 
    pb4 = 1.5rem
    pb3 = 1rem
    pb1 = 0.5rem
    pb1 = 0.25rem
   */
.navbarActivo{
    margin-bottom: 3rem !important;
    padding-bottom: 3rem !important;
}

/*Solo para tamaños de 992px o mas (momento en el que se quita el menu hamburguesa) */
@media (min-width: 992px){

    /* Coloca hacia abajo el menu del dropdown, para que quede alineado con el NavBar */
    .dropdown-menu{
        margin: .7rem 0 0;
    }
}

/*Solo para tamaños de 991px o menos (momento en el que aparece el menu hamburguesa)*/
@media (max-width: 991px){

    /* Transicion a color negro, al oprimir el boton del navbar (compacto) */
    .colorNegro{
        background-color: rgba(0, 0, 0, 1) !important;
        transition: all 1s;
    }
}