<nav *ngIf="nav.visible" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
    [class.colorNegro]="menuExpandido">

    <a title="Pagina principal" data-toggle="collapse" data-target=".navbar-collapse.show" routerLink="home/login">
        <label class="navbar-brand mb-0 h1">
            <img src="/assets/logo/imgNavbar.jpg" class="d-inline-block imgLogoNav cursorPointer" alt="">
            <label class="cursorPointer">mySpend</label>
        </label>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="btnNavbar_click()"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li id="navbarItemInicio" class="nav-item">
                <a title="Pagina principal" class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show"
                    routerLink="home/login" routerLinkActive="active">Inicio<span class="sr-only">(current)</span></a>
            </li>

            <!-- COMBO
            <li id="navbarItemPrecios" class="nav-item dropdown">
                <a title="Menú de precios" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Precios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a title="Precios de artículos" class="dropdown-item" href="">Articulos</a>
                    <a title="Precios de eventos" class="dropdown-item" href="">Eventos</a>
                    <div class="dropdown-divider"></div>
                     <a title="Precios de restauraciones" class="dropdown-item disabled" href="#">Restauración de
                        fotografías</a>
                </div>
            </li> -->

            <li id="navbarItemCatalogoGraduacion" class="nav-item">
                <a title="Catalogo para los paquetes de graduación" class="nav-link" data-toggle="collapse"
                    data-target=".navbar-collapse.show" routerLink="home/contacto"
                    routerLinkActive="active">Contacto</a>
            </li>

            <li id="navbarItemIniciarSesion" class="nav-item">
                <a title="Intranet de uso interno del personal" class="nav-link" data-toggle="collapse"
                    data-target=".navbar-collapse.show" routerLink="home/about" routerLinkActive="active">Acerca de</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <a title="Visitar pagina en facebook" class="navbar-brand cursorPointer">
                <img src="/assets/logo/imgFacebook.png" class="d-inline-block imgLogoNav" alt="">
            </a>
        </form>
    </div>
</nav>

<!-- Div se activa con la clase de bajar contenido, solamente cuando el Navbar esté activo.
    Si el navbar está oculto, debe quitarse la clase, para que no baje el contenido de las paginas que no usan Navbar. -->
<div class="" [class.navbarActivo]="this.nav.getVisibleStatus()"></div>